$color-primary: #6527D9;
$color-primary-light: #7444DA;
$color-primary-dark: #581CB1;

$color-secondary: #F7F7F8;
$color-secondary-light: #FFFFFF;
$color-secondary-dark: #E6E6E6;

$color-black: #262626;

$mobile-width: 321px;