* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.app {
  background-color: $color-secondary;
}

.main {
  width: calc(100vw-24px);
  height: 700px;
  display: flex;
  background-color: $color-primary;
  margin: 12px;
  border-radius: 12px;
}

.main__content {
  display: flex;
  flex-direction: column;
  margin: 184px 44px 184px 80px;
}

.review {
  max-width: 824px;
  padding-bottom: 32px;
  @extend %font-regular;
  color: $color-secondary-light;
  font-size: 3.8rem;
  line-height: 46px;
}

.author {
  max-width: 824px;
  @extend %font-light;
  color: $color-secondary-light;
  font-size: 2.4rem;
  line-height: 31.2px;

  &_name {
    @extend %font-semibold;
  }
}

.main__navigation {
  display: flex;
  flex-direction: column;
}

.circle {
  margin: 100px 80px 20px 0;
  width: 384px;
  height: 384px;
  border-radius: 192px;
  background: linear-gradient(41.63deg, $color-secondary-light 8.13%, rgba(255, 255, 255, 0) 84.6%);
  opacity: 0.1;
}

.buttons {
  margin-left: auto;
  display: flex;

  &_left {
   width: 48px; 
   height: 48px;
   border-radius: 24px; 
   border: none;
   background-color: $color-secondary-light;
   opacity: 0.2;
   cursor: pointer;
   margin-right: 20px;
    
   &_arrow {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid $color-secondary-light;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(135deg);
    background-color: $color-secondary-light;
    opacity: 1;
   }
  }

  &_right {
   width: 48px; 
   height: 48px;
   border-radius: 24px; 
   border: none;
   background-color: $color-secondary-light;
   opacity: 0.2;
   cursor: pointer;
  }
}

.whats-new {
  display: flex;
  justify-content: center;
  margin: 62px 20px 80px 20px;
  @extend %font-regular;
  color: $color-black;
  font-size: 4.8rem;
  line-height: 57.6px;
}

.posts {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;

}

.post {
  flex-grow: 1;
  height: 650px;
  padding: 12px;
  border-radius: 12px;
  background-color: $color-secondary-light;


  flex-direction: column;

  &_image {
    margin: 0 auto;
    width: 440px;
    height: 486px;
    border-radius: 12px;
    margin-bottom: 21px;
    background-color: $color-primary-dark;
  }

  &_description {
    margin: 0 auto;
    height: 111px;
    width: 384px;
    padding: 25px;
    align-items: center;
    text-align: center;
    @extend %font-light;
    color: $color-black;
    font-size: 2.4rem;
    line-height: 31.2px;
  }
}

.read-more {
  display: flex;
  justify-content: center;
  margin: 62px 20px 80px 20px;
  padding-bottom: 60px;


  &_button {
    @extend %font-regular;
    color: $color-primary;
    font-size: 2.4rem;
    line-height: 32px;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
}
